- each klass in classes
    .clsslist-itm.list-item(data-classid=klass.id)
        .clsslist-itm-colorcode(class='color'+klass.id)
        .clsslist-itm-text.fullName= klass.fullName
        .clsslist-itm-text.shortName= klass.shortName
        ul.class-sublist
            - each section in klass.sections
                li
                    a(href="#class/#{klass.id}/section/#{section.link}")= section.name
