- each klass in classes
    .class-list-item(data-classid=klass.id)
        .class-list-item-colorcode(class='color'+klass.id)
        .class-list-item-text= klass.fullName
        ul.class-sublist
            li hi
            li hi
            li hi
            li hi
