
.avatar.avtr-m
    img(src='images/ab_avatar.jpg', alt='a picture')

.tbar-menu
    //-.tbar-button.tbar-btn-settings
        //-i.icon-cog.icon-large

    .tbar-button.tbar-btn-notifications
        .tbar-notification-counter 3
        //-.tbar-popdown.notification-list.list(style='{display: block}')
            .list-item.color1 hi
            .list-item.color2 hi
            .list-item.color3 hi

    .tbar-button.tbar-btn-chat
        i.icon-comment.icon-large
        .tbar-popdown.chat-list.list

    //-.tbar-chat-bar


.tbar-name Aneesh Bhoopathy
