@import "elements.less";
@import "grid.less";
@import "reset.less";
@import "mixins.less";

.color1 { background-color: #3b8183; }
.color2 { background-color: #ed303c; }
.color3 { background-color: #f5634a; }
.color4 { background-color: #fad089; }
.color5 { background-color: #a0cd64; }

@link-color: #3b8183;
@text-color: #313131;
@line-border-color: lighten(grey,20%);

@outside-margin: 30px;
@toolbar-height: 45px;
@toolbar-bottom: 10px;

* {
}

body {
    //background-color: lightblue;
    background-image: url('../images/bg.png');
    color: lighten(#313131,10%);
}

a {
    color: lighten(#313131,10%);
    text-decoration: none;
    &:hover {
        color: @link-color;
        text-decoration: underline;
    }
}

.app-wrapper {
    position: absolute;
    top: @outside-margin;
    left: @outside-margin;
    right: @outside-margin;
    bottom: @outside-margin;
}
#main-col {
    .whitebox(12px);
    .rounded(5px);
    position: absolute;
    width: 80%;
    top: @toolbar-height + @toolbar-bottom;
    bottom: 0px;
    //right: 0px;
    left: 20%;
    .content {
    }
}

@import "sidebar.less";
@import "toolbar.less";
@import "calendar.less";
@import "compact.less";
