.toolbar {
    box-shadow: lighten(black, 50%) 0 1px 10px;
    .gradient( #333, darken(#333, 5%), lighten(#333, 15%));
    //.border-radius(5px,0,0,5px);
    .rounded(5px);
    top: 0px;
    height: @toolbar-height;
    left: 21%;
    right: @outside-margin;
    background-color: #333;
    .content {
        position: static;
    }
}
